<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd">

    <!-- a DataSource -->
    <import resource="classpath:spring/adatasource.xml" />

    <!-- b DataSource -->
    <import resource="classpath:spring/bdatasource.xml" />

    <!-- transaction manager -->
    <import resource="classpath:spring/txmanager.xml" />

    <!-- transaction interceptor -->
    <import resource="classpath:spring/interceptor.xml" />

    <!-- 开启事务注解 -->
    <tx:annotation-driven />

    <!-- 开启扫描 -->
    <context:component-scan base-package="com.oneapm.atomikos">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Service" />
    </context:component-scan>

</beans>
